<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ansible Nginx Server</title>
</head>
<body>
    <h1>Nginx is working!</h1>

    <p>This server was configured using Ansible.</p>

    <p>
        Hostname:  {{ ansible_facts["hostname"] }}
    </p>
</body>
</html>
